body{
	min-height: 6000px;
}
div{
	color: wheat;
	width: 100px;
	padding: 10px;
	position: static;

	/* position: relative; depends on itself*/
	/* position: absolute; depends on it's page*/
	/* position: fixed; depends on the browser window*/
	/* position: sticky; depends on the scroll*/
}
.one {
	/* Add your styles here */
	background-color: blueviolet;
	position: fixed;
}
.two{
	/* Add your styles here */
	background-color: darkorange;
}
.parent{
	width: 300px;
	height: 300px;
	background-color: lightblue;
	position: relative;
}