/* task_1 */
.parent{
	width: 1000px;
	background-color: beige;
	padding: 0;
}
div{
	padding-top: 15px;
	padding-bottom: 15px ;
	margin-bottom: 15px;
	background-color: aquamarine;
	float: left;
	text-align: center;
	margin-left: 15px;
}
.full-width{
	margin-top: 15px;
	width: calc((100% - 30px));
}
.three{
	width: calc((100% - 60px) /3);
}
.two{
	width: calc((100% - 45px) /2);
}
.four{
	width: calc((100% - 75px) /4);
	margin-bottom: 15px;
}
.clear{
	clear: both;
}

/* 
content width is 100%
2 spaces 15px * 2 = 30px
(100% - 30px) available space
1 element the width is : (100% - 30px)
2 elements the width is : (100% - 45px)/2
3 elements the width is : (100% - 60px)/3
4 elements the width is : (100% - 75px)/4
*/

/* task_2 */
div {
	margin: 20px auto;
	width: 300px;
	font-weight: bold;
	font-size: 1rem;
	padding: 20px;
	background-color: rgb(128, 128, 128); /* Get The Background From Image */
	color: black;
  }
.one{
	background-color: rgb(128, 128, 128,0.2);
}
.two{
	opacity: 0.1;
}