/* Task_1 */
/* div{
	width: 100px;
	height: 100px;
	padding: 100px;
}
body{
	height: 4000px;
}
.green{
	background-color: seagreen;
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 20;
}
.red{
	background-color: tomato;
	position: fixed;
	top:80px;
	left: 80px;
	z-index: 30;
}
.blue{
	background-color: dodgerblue;	
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 10;
}
.black{
	background-color: black;
	position:fixed;
	bottom: 458px;
	left: 20px;
} */

/* Task_2 */
div{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 400px;
	margin: 100px auto;
	text-align: center;
	background-color: rgb(213, 215, 215);
	padding: 20px;
	line-height: 2.5;
	border: 3px solid;
	position: relative;
	border-color: red rgb(0, 162, 255);
}
span{
	color: hsl(0, 0%, 100%);
	position: absolute;
	background-color:  rgb(0, 162, 255);
	padding: 0px 18px;
}
.top-left{
	top: -20px;
	left: -20px;
	border-right: 3px solid red;
}
.bottom-left{
	bottom: -20px;
	left: -20px;
	border-right: 3px solid red;
}
.top-right{
	top: -20px;
	right: -20px;
	border-left: 3px solid red;
}
.bottom-right{
	bottom: -20px;
	right: -20px;
	border-left: 3px solid red;
}
/* Task_3 */
body{
font-family: Arial, Helvetica, sans-serif;
}
.ul-1{
	width: 400px;
	list-style: none;
	align-items: center;
	margin: auto;
}
li{
	background-color: rgb(230, 230, 230);
	border: 10px solid white;
	padding: 10px;
}
li li{
	background-color: rgb(255, 255, 255);
	border: 5px solid  rgb(230, 230, 230);
}
.ol-1{
	list-style:decimal;
}
.ol-2{
	list-style:upper-roman;
}
.ul-2{
	list-style: circle;
	list-style-position: inside;
	margin: 0 0 0 -45px;
}


/* Task_4 */
caption{
	font-weight: bold;
	margin: 0 0 10px;
}
table{
	text-transform: capitalize;
	width: 700px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	border-spacing: 1px;
	border-bottom: 2px solid green;
	text-align: center;
}
thead{
	background-color: rgba(33, 34, 35, 0.898);
	color: white;
}
th{
	padding: 10px 30px;
}
tbody{
	background-color: rgba(73, 69, 69, 0.138);
}
td{
	padding: 10px 20px;
}
table button{
	font-size: 13px;
	font-weight: 600;
	text-transform: capitalize;
	color: white;
	padding: 5px 10px;
	border: none;
}
.view{
	background-color: rgb(0, 132, 255);
}
.delete{
	background-color: rgb(255, 0, 132);
}
table img{
	width: 60px;
	height: 60px;
	padding: 2px;
	border: 2px solid rgb(218, 212, 212);
}
